#exalted {
  width: 100%;
  height: 100%;
  background-color: var(--color-background);
}

header {
  -webkit-app-region: drag;
  height: 53px;
  width: 100%;
  background-color: var(--color-background);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .title {
  color: var(--text);
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 66px;
}
header h1 {
  margin: 0;
  font-size: 10px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--text);
  letter-spacing: 0.5px;
  line-height: 1.5;
}
header p {
  margin: 0;
  font-size: 7px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--text);
  letter-spacing: 0.5px;
  line-height: 1.5;
}
header .close-minimize {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  margin-right: 25px;
}
header .close-minimize button {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  border: none;
  -webkit-app-region: no-drag;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
header .close-minimize .close {
  background-color: var(--primary);
  margin-left: 5px;
}
header .close-minimize .minimize {
  background-color: var(--secundary);
}
header .close-minimize .close:hover {
  background-color: var(--primary-lighter);
}
header .close-minimize .minimize:hover {
  background-color: var(--primary-lighter);
}

main {
  display: flex;
  width: 100%;
  height: 413px;
}
main aside {
  width: 157px;
  height: 100%; /* Ajusta a altura para ocupar toda a área à esquerda */
  background-color: inherit;
  overflow: scroll;
  overflow-x: hidden;
}

/* Estilos personalizados para a barra de rolagem */
main aside::-webkit-scrollbar {
  width: 5px; /* Reduz a largura da barra de rolagem */
}

main aside::-webkit-scrollbar-thumb {
  background-color: var(--scroll); /* Define a cor preta para a barra de rolagem */
  border-radius: 4px; /* Adiciona bordas arredondadas */
}
main aside::-webkit-scrollbar-track {
  background-color: var(
    --color-elements-background
  ); /* Define a cor de fundo para a área não rolada */
  border-radius: 4px;
}

main aside ul .champions {
  margin: 0;
}
main aside ul .champion-square-holder {
  width: 22px;
  height: 22px;
  border-radius: 100%;
  overflow: hidden; /* Garante que a imagem não saia da div */
}
main aside .champion-square {
  border-radius: 100%;
  width: 100%;
  transform: scale(1.3); /* Aumenta a imagem em 10% */
  object-fit: cover; /* Garante que a imagem preencha o contêiner sem distorção */
}

main aside .champion-option {
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  height: 26px;
  width: 100%;
  cursor: pointer;
  transition: background-color 1s ease;
}
main aside .champions p {
  margin-left: 5px;
  font-size: 10px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--text);
  letter-spacing: 0.5px;
  line-height: 1.5;
  transition: background-color 1s ease;
}
main aside .champion-option:hover p {
  color: rgb(83, 83, 83);
  transition: color 0.3s ease; /* Transição mais suave para a cor do texto */
}

main .skins-list {
  width: 100%;
  max-width: 594.02px;
  height: 100%;
  background-color: inherit;
  overflow: scroll;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  overflow-x: hidden;
}

/* Estilos personalizados para a barra de rolagem */
main .skins-list::-webkit-scrollbar {
  width: 5px; /* Reduz a largura da barra de rolagem */
}

main .skins-list::-webkit-scrollbar-thumb {
  background-color: var(--scroll); /* Define a cor preta para a barra de rolagem */
  border-radius: 4px; /* Adiciona bordas arredondadas */
}
main .skins-list::-webkit-scrollbar-track {
  background-color: var(
    --color-elements-background
  ); /* Define a cor de fundo para a área não rolada */
  border-radius: 4px;
}
footer {
  width: 100%;
  background-color: green;
  height: 56px;
}
